form {
  display: flex;
  flex-direction: column;
}
.appContainer{
  display: flex;
}

mat-card{
  min-height: 50vh;
  min-width: 25vw;
  width:100%;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

