<main>
  <mat-card>
    <div>
      <app-lists-card-header></app-lists-card-header>
      <app-lists [lists]="storedLists" ></app-lists>
    </div>
    <app-create-new-list (listCreated)="onListAdded($event)"></app-create-new-list>
  </mat-card>
  <mat-card>
    <app-task-list-header></app-task-list-header>
    <app-search-bar></app-search-bar>
    <app-check-box></app-check-box>
    <app-tasks [tasks]="storedLists"></app-tasks>
    <app-create-new-task
    (taskCreated)="onTaskAdded($event)"
    ></app-create-new-task>
  </mat-card>
</main>