html,
body {
  height: 100%;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-error {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

mat-error mat-icon {
  transform: scale(0.7);
}

