/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100%;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
 }
body {
   margin: 0; 
   font-family: Roboto, "Helvetica Neue", sans-serif; 
  }


mat-error {
margin-bottom: .5rem;
display: flex;
align-items: center;
}


mat-error mat-icon {
  transform: scale(.7);
  }