.taskItem{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

button{
  transform: scale(0.8);
 }

.completed {
  text-decoration:  line-through;
  opacity: .5;
}

.deleteBtn:hover{
  background-color: #f44336;
  color: white;
}

.completedBtn:hover{
  background-color: #3f51b5;
  color: white;
}

.taskLine {
  margin: 0px 0px;
  display: flex;
  justify-content: space-between;align-items: center;
}

.taskName{
  padding-left: .25rem;
}
